/* For Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;   /* hides scrollbar */
}

/* For IE/Edge (legacy) */
html {
  -ms-overflow-style: none;
}


/* App.css */
.app-container {
  /* max-width: 1400px; */
  margin-top: -17px;
  padding: 1rem;
  min-height: 86vh;
  background: linear-gradient(0deg, #f9f6dc 0%, #e2f0ec 100%);
  overflow: hidden; /* hides both horizontal and vertical scrollbars */
}

h1 {
  text-align: center;
  color: #0f1a2c;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add this to your existing table.css if needed */
.routine-table {
  margin-top: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
/* Navbar styling */
.navbar {
  background-color: #72bae4;
  padding: 0;
  margin-bottom: 20px;
  
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0;
}

.navbar a {
  font-family:Arial, Helvetica, sans-serif;
  display: block;
  color: rgb(43, 85, 92);
  text-decoration: none;
  padding: 15px 20px;
  transition: background-color 0.3s;
}

.navbar a:hover,
.navbar a.active {
  background-color: #cfe2e2;
}